    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/inscription">Inscription</a></li>
        <li role="presentation"><a href="/connexion">Connexion</a></li>
    </ul>