* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0.7em 0;
}

h1 { font-size: 2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.4em; }

h5 { font-size: 1.2em; }


label {
	display: block;
	font-size: 0.83em;
	font-weight: bold;
	margin: 0.7em 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

.input-text {
	display: block;
	padding: 0.5em 0;
	margin: 0.7em 0;
	margin-top: 0;
	font-size: 1em;
	border: 0;
	border-bottom: 2px solid #E0E0E0;
	background: transparent;
	width: 100%;
	max-width: 100%;
	outline: none;
	transition: .4s;
}

.input-text:focus {
	border-bottom-color: #448AFF;
}

.checkbox {
	position: relative;
	display: block;
}

.checkbox label:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 0.83em;
	height: 0.83em;
	border: 2px solid #BDBDBD;
	border-radius: 0.3em;
}

.checkbox input {
	display: none;
}

.checkbox label {
	padding-left: 2em;
	font-weight: normal;
}

.checkbox input:checked + label:before {
	background-color: #BDBDBD;
}

.input-btn,
.input-full-btn {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	padding: 0.8em;
	border: 0;
	background: transparent;
	color: #448AFF;
	cursor: pointer;
	outline: none;
	transition: .4s;
}

.input-btn {
	margin: 0.5em;
}

.input-full-btn {
	margin-top: 0.5em;
	text-align: center;
	width: 100%;
}

.input-btn:hover,
.input-full-btn:hover {
	background-color: #E0E0E0;
}

.input-btn.btn-primary,
.input-full-btn.btn-primary {
	background-color: #1E88E5;
	color: #E3F2FD;
}

.input-btn.btn-primary:hover,
.input-full-btn.btn-primary:hover {
	background-color: #1976D2;
}

.input-btn.btn-error,
.input-full-btn.btn-error {
	background-color: #E53935;
	color: #FFEBEE;
}

.input-btn.btn-error:hover,
.input-full-btn.btn-error:hover {
	background-color: #C62828;
}

.card,
.screens-card {
	background-color: #FFF;
	margin: 1em;
	-moz-box-shadow: 0px 2px 5px 0px #656565;
	-webkit-box-shadow: 0px 2px 5px 0px #656565;
	-o-box-shadow: 0px 2px 5px 0px #656565;
	box-shadow: 0px 2px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

.card .content h1:nth-child(1),
.screens-card .screens li h1:nth-child(1) {
	margin-top: 0;
}

.card .content p.resume {
	color: #616161;
}

.card .content,
.screens-card .screens li {
	overflow: hidden;
	padding: 1em;
}

.screens-card .nav-screens,
.screens-card .screens {
	list-style: none;
	margin: 0;
	padding: 0;
}

.screens-card .nav-screens {
	display: table;
	width: 100%;
}

.screens-card .nav-screens li {
	display: table-cell;
	text-align: center;
	padding: 1em;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #E0E0E0;
	cursor: pointer;
	transition: .4s;
}

.screens-card .nav-screens li.actif,
.screens-card .nav-screens li:hover {
	border-bottom-color: #448AFF;
}

.screens-card .screens li {
	display: none;
}

.screens-card .screens li.actif {
	display: block;
}