<% include ../partials/header.ejs %>
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Informations</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                Arrêt
                            </td>
                            <td>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Position en temps réel
                            </td>
                            <td>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lignes
                            </td>
                            <td>
                                0
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>