<% include ../partials/header.ejs %>
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-heading">Formulaire d'inscription</div>
                        <div class="panel-body">
                            <!-- Formulaire d'inscription -->
                            <form id="formInscription" enctype='application/json' class="form-horizontal">
                                <!-- Informations téchniques -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">GTFS</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="inputGTFSZipFile" class="col-sm-3 control-label">Adresse du fichier zip contenant tous les fichiers GTFS :</label>
                                            <div class="col-sm-9">
                                                <input type="url" class="form-control" id="inputGTFSZipFile" placeholder="http://host/fichier.zip">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUseGTFSRealTime" class="col-sm-3 control-label">Utiliser GTFS-Realtime :</label>
                                            <div class="col-sm-9">
                                                <input type="checkbox" class="form-control" id="inputUseGTFSRealTime">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGTFSRealTimeTripUpdate" class="col-sm-3 control-label">Adresse du fichiers "TripUpdates" : </label>
                                            <div class="col-sm-9">
                                                <input type="url" class="form-control" id="inputGTFSRealTimeTripUpdate" placeholder="http://host:port/TripUpdate.pb">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGTFSRealTimeAlert" class="col-sm-3 control-label">Adresse du fichiers "Alert" : </label>
                                            <div class="col-sm-9">
                                                <input type="url" class="form-control" id="inputGTFSRealTimeAlert" placeholder="http://host:port/Alert.pb">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGTFSRealVehiclePosition" class="col-sm-3 control-label">Adresse du fichiers "VehiclePosition" : </label>
                                            <div class="col-sm-9">
                                                <input type="url" class="form-control" id="inputGTFSRealVehiclePosition" placeholder="http://host:port/VehiclePosition.pb">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="submitInscription" class="pull-right btn btn-default">S'inscrire</button>
                                <!-- Zone de retour pour l'utilisateur -->
                                <div id="messageInfo" class="bg-info hidden">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
<% include ../partials/footer.ejs %>